/*+ Убираю фон автозаполнения браузера */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px var(--light-main-bg) inset !important;
  -webkit-text-fill-color: var(--dark-main-text) !important;
}

/* Для тёмной темы */
body.dark input:-webkit-autofill,
body.dark input:-webkit-autofill:hover,
body.dark input:-webkit-autofill:focus,
body.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px var(--dark-main-bg) inset !important;
  -webkit-text-fill-color: var(--dark-main-text) !important;
}
/* /Убираю фон автозаполнения браузера */

.content-auth-modals {
  width: clamp(350px, 51vw, 560px);
  text-align: center;

  .modal__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }
  .modal__wrapper-input {
    width: 100%;
    position: relative;
  }
  .modal__label {
    background-color: var(--light-main-bg);
    padding: 0 7px;
    border: 1px solid var(--light-main-text);
    border-radius: 25px;
    position: absolute;
    top: clamp(-11px, -1vw, -9px);
    left: 20px;
    z-index: 10;
  }
  .modal__input {
    width: 100%;
    padding: clamp(10px, 2.5vw, 21px) clamp(8px, 2vw, 15px);
    border: 1px solid var(--light-main-text);
    border-radius: 25px;
    &:focus {
      background: #f0f0f0;
    }
    &:user-valid {
      border-color: var(--accent-text);
    }
    &:user-invalid {
      border-color: var(--warning-color);
    }
  }

  a.link-underline {
    display: block;
  }

  .modal__btn {
    max-width: fit-content;
    margin: 0 auto;
  }

  /* Стили ошибок */
  .modal__error {
    display: block;
    color: var(--warning-color);
    margin-top: 4px;
    min-height: 16px;
  }

  .modal__input--error {
    border-color: var(--warning-color) !important;
    color: var(--warning-color);
  }
}
