.footer {
  width: 100%;
  padding: 15px 0;
  border-top: var(--accent-text) solid 1px;

  .footer__logo {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .footer__basic {
    display: flex;
    justify-content: space-between;
  }
  .footer__wrapper {
    display: flex;
  }
  .footer__elem {
    position: relative;
    padding-right: clamp(28px, 4vw, 48px);
  }
  .footer__elem + .footer__elem {
    padding-left: clamp(28px, 4vw, 48px);
  }
  .footer__elem + .footer__elem::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--light-main-text);
  }
  @media (max-width: 1108px) {
    .footer__logo {
      margin: 0 auto;
      text-align: center;
    }
    .footer__basic {
      flex-direction: column;
      max-width: max-content;
      margin: 0 auto;
      row-gap: 28px;
    }
    .footer__wrapper {
      justify-content: center;
    }
    .footer__elem:first-child {
      width: max-content;
    }
  }
  .footer__title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .elem__link {
    padding: 0;
  }
  .footer__social-network + .footer__social-network {
    margin-left: 18px;
  }
  .footer__social-network path {
    transition: 0.4s;
  }
  .footer__social-network:hover svg path {
    fill: var(--accent-text);
  }
  @media (max-width: 687px) {
    .footer__wrapper {
      flex-direction: column;
      text-align: center;
      row-gap: 18px;
    }
    .footer__elem {
      width: 100%;
      padding: 0;
      margin: 0 auto;
    }
    .footer__elem + .footer__elem {
      padding: 18px 0 0 0;
    }
    .footer__elem + .footer__elem::before {
      right: 0;
      height: 1px;
      width: 100%;
    }
  }

  .footer__info {
    margin-top: 15px;
  }
  .info__wrapper + .info__wrapper {
    margin-left: 18px;
  }
  @media (max-width: 1108px) {
    .footer__info {
      text-align: center;
    }
  }
  @media (max-width: 404px) {
    .info__link {
      display: block;
    }
  }
}
