.footer {
  width: 100%;
  padding: 15px 0;
  border-top: var(--accent-text) solid 1px;

  .footer__logo {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .footer__basic {
    display: flex;
    justify-content: space-between;
  }
  .footer__wrapper {
    display: flex;
  }
  .footer__elem {
    position: relative;
    padding-right: 48px;
  }
  .footer__elem + .footer__elem {
    padding-left: 48px;
  }
  .footer__elem + .footer__elem::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--light-main-text);
  }
  .footer__title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .elem__link {
    padding: 0;
  }
  .footer__social-network + .footer__social-network {
    margin-left: 18px;
  }
  .footer__social-network path {
    transition: 0.4s;
  }
  .footer__social-network:hover svg path {
    fill: var(--accent-text);
  }

  .footer__info {
    margin-top: 15px;
  }
  .info__link {
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-right: 18px;
  }
}
