.groups {
  .groups__title {
    font-size: var(--clamp-btn-text);
    margin-bottom: 28px;
  }
  .groups__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 80px;
  }
  @media (max-width: 1189px) {
    .groups__wrapper {
      column-gap: 78px;
    }
  }
  @media (max-width: 1078px) {
    .groups__wrapper {
      column-gap: 50px;
    }
  }
  @media (max-width: 1055px) {
    .groups__wrapper {
      column-gap: 20px;
    }
  }
  @media (max-width: 955px) {
    .groups__wrapper {
      padding-bottom: 50px;
    }
  }
  .add-group {
    min-width: clamp(140px, 22vw, 200px);
  }
  .groups__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  @media (max-width: 544px) {
    .groups__item {
      width: 100%;
    }
  }
  .groups__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: clamp(25px, 5vw, 40px) 0;
    border: 1px solid var(--light-main-text);
    background: var(--light-secondary-emphasis-bg);
    border-radius: 25px;
    cursor: pointer;
    font-size: var(--clamp-btn-text);
    transition: 0.3s;

    &:hover {
      background: #f0f0f0;
    }
  }
  @media (max-width: 1055px) {
    .groups__group {
      padding: clamp(40px, 6vw, 60px) 0;
      width: clamp(200px, 29vw, 300px);
    }
  }
  @media (max-width: 684px) {
    .groups__group {
      padding: clamp(55px, 9vw, 60px) 0;
      width: clamp(240px, 44vw, 300px);
    }
  }
  @media (max-width: 544px) {
    .groups__group {
      padding: clamp(50px, 12vw, 60px) 0;
      width: 100%;
    }
  }
  .groups__plate {
    display: flex;
    justify-content: center;
    padding: 55px 0 6px;
    gap: 48px;
    border: 1px solid var(--light-main-text);
    border-radius: 25px;
    background: var(--light-secondary-emphasis-bg);
    transition: 0.3s;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  @media (max-width: 1055px) {
    .groups__plate {
      gap: clamp(75px, 9vw, 88px);
    }
  }
  @media (hover: none), (max-width: 789px) {
    .groups__plate {
      border: none !important;
      background: transparent !important;

      bottom: -48px;
    }
  }
  .groups__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    transition: inherit;

    &:hover {
      background: #f0f0f0;
    }
  }
  /*+ Только для устройств с курсором */
  @media (hover: hover) {
    .groups__item:hover .groups__plate {
      bottom: -48px;
    }
  }
}
