.advantages-img {
  top: -310px;
  left: -121px;
}
@media (max-width: 1010px) {
  .advantages-img {
    max-width: 650px;
    top: -260px;
  }
}
@media (max-width: 848px) {
  .advantages-img {
    max-width: 630px;
    top: -260px;
    left: -160px;
  }
}
@media (max-width: 721px) {
  .advantages-img {
    left: -180px;
  }
}
@media (max-width: 684px) {
  .advantages-img {
    max-width: 450px;
    top: -170px;
    left: -110px;
  }
}
@media (max-width: 584px) {
  .advantages-img {
    top: -50%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.75;
  }
}

.wrap {
  max-width: clamp(340px, 55vw, 570px);
  margin: 0 0 0 auto;

  /*+ Начальное состояние: скрыт за пределами экрана */
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 1.5s ease, transform 1s ease;
}
/*+ Класс, который добавится при видимости */
.wrap.visible {
  opacity: 1;
  transform: translateX(0);
}
@media (max-width: 584px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
  }
  .wrap__list {
    text-align: left;
  }
}

.wrap__item:first-child {
  margin-top: 18px;
}
.wrap__item + .wrap__item {
  margin-top: 18px;
}
.wrap__item {
  position: relative;
  margin-left: 34px;
  &::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.268 0L7.6701 14.5479L1.73196 8.63014L0 10.4178L7.6701 18L24 1.72603L22.268 0Z' fill='%234FD10C' /%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    left: -34px;
    transform: translateY(-50%);
  }
}
