.modal {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(18, 18, 18, 0.5);
  transition: 0.5s;
  z-index: 5000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .title {
    text-align: center;
  }

  .modal__content {
    height: fit-content;
    max-height: 85vh;
    max-width: 575px;
    border-radius: 25px;
    overflow: hidden;
    overflow-y: auto;
    padding: clamp(16px, 6.5vw, 48px);
    background-color: var(--light-main-bg);
    position: relative;
    margin: 0 15px;
  }

  .modal__btn-close {
    position: absolute;
    top: clamp(15px, 3.5vw, 24px);
    right: clamp(15px, 3.5vw, 24px);
    z-index: 10;

    & svg path {
      transition: 0.4s;
    }
    &:hover svg path {
      fill: var(--accent-text) !important;
    }
  }
  @media (max-width: 380px) {
    .modal__btn-close,
    svg {
      max-height: 28px;
      max-width: 28px;
    }
  }
}
