/*+ Убираю фон автозаполнения браузера */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px var(--light-main-bg) inset !important;
  -webkit-text-fill-color: var(--dark-main-text) !important;
}
/* Для тёмной темы */
body.dark input:-webkit-autofill,
body.dark input:-webkit-autofill:hover,
body.dark input:-webkit-autofill:focus,
body.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px var(--dark-main-bg) inset !important;
  -webkit-text-fill-color: var(--dark-main-text) !important;
}
/* /Убираю фон автозаполнения браузера */

.modal {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(18, 18, 18, 0.5);
  transition: 0.5s;
  z-index: 5000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .title {
    text-align: center;
  }

  .modal__content {
    height: fit-content;
    max-height: 85vh;
    max-width: 575px;
    border-radius: 25px;
    overflow: hidden;
    overflow-y: auto;
    padding: clamp(16px, 6.5vw, 48px);
    background-color: var(--light-main-bg);
    position: relative;
    margin: 0 15px;
  }

  .modal__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }

  .modal__wrapper-input-title {
    width: 100%;
    padding-top: 18px;

    position: relative;

    .modal__input-title {
      width: 100%;
      display: block;
      padding: 8px;
      border: none;
      border-bottom: 1px solid var(--light-main-text);
    }

    .modal__label-title {
      display: block;
      pointer-events: none;

      position: absolute;
      left: 8px;
      top: 18px;
      transition: 0.3s;
    }
    .modal__input-title:focus + .modal__label-title,
    .modal__input-title:not(
        :placeholder-shown
      ).modal__input-title:not(:focus)
      + .modal__label-title {
      top: -2px;
      left: 0px;
    }
  }

  .modal__btn-close {
    position: absolute;
    top: clamp(15px, 3.5vw, 24px);
    right: clamp(15px, 3.5vw, 24px);
    z-index: 10;

    & svg path {
      transition: 0.4s;
    }
    &:hover svg path {
      fill: var(--accent-text) !important;
    }
  }
  @media (max-width: 380px) {
    .modal__btn-close,
    svg {
      max-height: 28px;
      max-width: 28px;
    }
  }

  .modal__wrap-btn {
    display: flex;
    justify-content: space-between;
  }

  /* Стили ошибок */
  .modal__error {
    display: block;
    color: var(--warning-color);
    margin-top: 4px;
    min-height: 16px;
  }

  .modal__input--error {
    border-color: var(--warning-color) !important;
    color: var(--warning-color);
  }
}
