/* Скрываю встроенные иконки в IE/Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

.password-input-wrapper {
  width: 100%;
  position: relative;
  z-index: 0;

  .modal__input {
    padding-right: 40px;
  }
}

.password-toggle-btn {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;
  color: var(--light-main-text);
  transition: color 0.2s;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    color: var(--accent-text);
  }
}

/* Темная тема */
body.dark .password-toggle-btn {
  color: var(--dark-main-text);
}
