@import "./reset.css";

:root {
  /*+ Font Family */
  --distinguishing-font-family: "Comfortaa", "Comic Sans MS", cursive;
  --main-font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, "Segoe UI",
    sans-serif;
  /*+ Color text */
  --accent-text: #4fd10c;
  --warning-color: #d71062;

  --light-main-text: #1a1a1a;

  --dark-main-text: #e0e0e0;
  /*+ Color bg */
  --light-main-bg: #f8f9fa;
  --light-secondary-emphasis-bg: #e9e9e9;

  --dark-main-bg: #121212;
  --dark-secondary-emphasis-bg: #1e1e1e;

  /*+ Clamp */
  --clamp-main-text: clamp(12px, 1.5vw, 16px);
  --clamp-tytle-text: clamp(16px, 3.5vw, 40px);
  --clamp-btn-text: clamp(14px, 2vw, 25px);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font-family);
  color: var(--light-main-text);
  font-size: var(--clamp-main-text);
  font-weight: 400;
  line-height: 1.36;
  background: var(--light-main-bg);
  transition: background 0.3s, color 0.3s;

  &.dark {
    color: var(--dark-main-text);
    background: var(--dark-main-bg);
    transition: background 0.3s, color 0.3s;

    .btn {
      color: var(--accent-text);
      background: var(--dark-main-bg);
      border-color: var(--accent-text);

      &:hover {
        color: #000;
        background: var(--accent-text);
      }
    }

    .header__sign {
      color: var(--dark-main-text);
    }
    .link.active::after {
      background: var(--dark-main-text);
    }

    .footer__elem + .footer__elem::before {
      background-color: var(--dark-main-text);
    }
  }
}

/*+ Изменение цвета выделения текста */
::selection {
  color: var(--light-main-text);
  background-color: var(--accent-text);
}

.hidden {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.main {
  overflow: hidden;
}

.container {
  height: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.section {
  padding: clamp(50px, 7.8vw, 100px) 0;
}
.section + .section {
  margin-top: clamp(50px, 9vw, 120px);
}

.img {
  position: absolute;
  z-index: -1;
}

.title {
  font-family: var(--distinguishing-font-family);
  font-weight: 700;
  font-size: var(--clamp-tytle-text);
}

.btn {
  padding: clamp(10px, 1vw, 15px) clamp(13px, 1.2vw, 18px);
  font-size: var(--clamp-btn-text);
  background: var(--light-main-bg);
  border: 1px solid var(--light-main-text);
  border-radius: 25px;
  transition: 0.3s;

  &:hover {
    color: #fff;
    background: var(--light-main-text);
  }
}

.link,
.header__sign {
  font-weight: 400;
  padding: 5px;
  font-size: var(--clamp-main-text);
  transition: 0.4s;

  &:hover {
    color: var(--accent-text) !important;
  }
  &::after {
    content: "";
    height: 1px;
    width: 0;
    display: block;
    background-color: var(--accent-text);
    transition: inherit;
  }
  &:hover::after {
    content: "";
    width: 100%;
  }
}
.link.active::after {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  background: var(--light-main-text);
}

strong {
  line-height: inherit;
}
