.profile {
  display: flex;
  align-items: center;
  margin: clamp(95px, 12vw, 118px) 0 clamp(50px, 8vw, 80px);

  .profile__info {
    display: flex;
    align-items: center;
    gap: 18px;
    .profile__img {
      height: clamp(79px, 11vw, 149px);
      border: 1px solid var(--light-main-text);
      border-radius: 50%;
      box-shadow: 0 0 150px 10px var(--accent-text);
    }
    @media (max-width: 679px) {
      .profile__img {
        box-shadow: 0 0 90px 1px var(--accent-text);
      }
    }
    .profile__details {
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;

      p + p {
        margin-top: 18px;
      }
      .profile__email,
      .profile__name {
        overflow-x: auto;
        /* Скрываю скроллбар в WebKit */
        &::-webkit-scrollbar {
          display: none;
        }
        /* Для IE и Edge (старые версии) */
        & {
          -ms-overflow-style: none;
        }
        /* Для Firefox */
        & {
          scrollbar-width: none;
        }
      }
    }
    @media (max-width: 349px) {
      .profile__details {
        max-width: 185px;
      }
    }
  }
  .profile__btn {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: clamp(28px, 3.8vw, 48px);

    .profile__btn-red {
      display: flex;
      column-gap: clamp(28px, 3.8vw, 48px);
    }
    @media (max-width: 349px) {
      .profile__btn-red {
        column-gap: 18px;
      }
    }
  }
  @media (max-width: 679px) {
    .profile__btn {
      width: 100%;
      margin: 0;
    }
  }
}
@media (max-width: 679px) {
  .profile {
    row-gap: 28px;
    align-items: start;
    flex-direction: column;
  }
}
